<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hjttk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38DC9B461F022FCD00345821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DC9B5A1F022FCD00345821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DC9B651F022FCD00345821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
